<br><br><br>

<div style="text-align: CENTER;">
     <a href="#home">
          <img src="/assets/images/Medicare_logo.png" alt="logo" class="logo" type="icon"   height="100"
             loading="lazy"
          style="margin-top: -1px; border: 5px solid #189ada;"/>
        </a>
</div>
<div class="row" >
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="login">
               <!-- <span style="background-image:url(assets/images/Medicare_logo.png);background-repeat:no-repeat;"></span> -->
          
  <div style="text-align:center ;"><h1>Admin Login</h1></div>

         <div class="form-group">
          <label for="">Username</label>
          <input [(ngModel)]="email1" type="text" class="form-control">    
          </div>

          <div class="form-group">
               <label for="">Password</label>
                <input [(ngModel)]="password1" type="text" class="form-control">    
                </div>
            


        <div class="form-group">
       <button (click)="onlogin()" class="btn btn-primary">Login</button>     
        </div>
     
   </div>   
   </div>
   <div class="col-md-4"></div>
</div> 


        
  

 